<header class="navbar navbar-fixed-top navbar">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href= "/">TheCryptoScrappingWebsite</a>
      <a class="nav-item nav-link" href="/home/team">Team</a>
      <a class="nav-item nav-link" href="/home/contact">Contact</a>     
    </div>
  </div>
</nav>
</header>